.vs/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/
venv/
.vscode/
.idea/
*.log
*.sqlite3
*.db
build/
dist/
*.egg-info/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
*.ipynb_checkpoints
*.log
*.tmp
*.safetensors
*.pt
data/raw